#forkme_banner {
  display: none !important;
}

#header {
  width: 300px;           /* Set width */
  height: 150px;          /* Set height */
  background-image: url('islington.jpg');  /* Path to your image */
  background-size: cover; /* Makes image cover the div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
}
