---
---

@import "{{ site.theme }}";

#forkme_banner {
  display: none !important;
}

#header_wrap.outer {
  background-image: url('../islington.jpg');  /* Path to your image */
  background-size: cover; /* Makes image cover the div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  width: 400px;
}
